<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Rajesh_Testing">
    <classes>
      <class name="com.Test_Cases.Account_Creation_Test"/>
      <class name="com.Test_Cases.Login_Test"/>
      <class name="com.Test_Cases.AddItem_IntoCart_Test"/>
      <class name="com.Test_Cases.ProfilePage_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
